{% include '_partials/_head.twig' %}

<body class="ltr">
	{% include '_partials/_header.twig' %}

	{% paginate craft.entries.section('video').limit(12) as pageInfo, pageEntries %}

	{# Fetch the entries #}


<section class="max-w-7xl px-4 mx-auto mt-10 min-h-screen">
<h1 class="mb-12">Video from Landis</h1>
<h2 class="mb-10 text-gray-700 text-xl md:text-xl italic mx-auto">In order to help stop the spread of the COVID-19 virus, many things have been cancelled at the Arboretum.  If you enjoy this classes and performances and can afford to, please consider <a href="/donate" class="text-blue-500 hover:underline">donating</a> or <a href="/membership" class="text-blue-500 hover:underline">joining</a> Landis &mdash; any donation is sincerely appreciated and tax-deductable!</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 mx-auto md:gap-4 my-10">
		{% for entry in pageEntries %}
        	<div class="">


			<div class="aspect-w-16 aspect-h-9 mt-2">
				{{ entry.embedCode | raw }}
			</div>
				<div>

				<h4 class="mb-0 text-lg  pt-2 pb-4 px-1 "><a href="{{ entry.url }}" class="text-blue-500 py-4 font-semibold">{{ entry.title }}</a></h4>
			</div>
	</div>
		{% endfor %}

</div>

<div class="flex justify-between max-w-7xl mx-auto my-8">
	<div>{% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}" class="inline-flex items-center px-4 py-2 bg-green-600 text-white text-sm font-medium rounded-md shadow-sm hover:bg-green-700 transition-colors duration-300">&larr; Previous Page</a>{% endif %}</div>
	<div>{% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}" class="inline-flex items-center px-4 py-2 bg-green-600 text-white text-sm font-medium rounded-md shadow-sm hover:bg-green-700 transition-colors duration-300">Next Page &rarr;</a>{% endif %}</div>
</div>
    </section>
	{% include '_partials/_footer' %}
</body></html>
