{% include '_partials/_head.twig' %}

<body class="ltr">
	{% include '_partials/_header.twig' %}


	<section class="px-4 py-10 mx-auto max-w-4xl lg:max-w-5xl min-h-screen">
  <!-- Begin Pagination -->
{# Set parameters for prev/next elements list #}
{% set params = craft.entries.section('newsletter') %}

{# Get the prev/next elements #}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}

{# And make sure to only output the links if the element exists #}
<div class="flex justify-between px-4 pt-10">
<p>{% if prevEntry %}<a href="{{ prevEntry.url }}" class="inline-flex items-center px-4 py-2 bg-green-600 text-white text-sm font-medium rounded-md shadow-sm hover:bg-green-700 transition-colors duration-300"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" /></svg>{{ prevEntry.title }}</a>{% endif %}</p>
<p>{% if prevEntry %}<a href="/newsletters" class="inline-flex items-center px-4 py-2 bg-green-600 text-white text-sm font-medium rounded-md shadow-sm hover:bg-green-700 transition-colors duration-300">All Issues</a>{% endif %}</p>
<p>{% if nextEntry %}<a href="{{ nextEntry.url }}" class="inline-flex items-center px-4 py-2 bg-green-600 text-white text-sm font-medium rounded-md shadow-sm hover:bg-green-700 transition-colors duration-300">{{ nextEntry.title }}<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-1" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg></a>{% endif %}</p>
</div>
</div>

<!-- End Pagination -->
    <h1  class="pt-4 text-xl md:text-3xl font-semibold">{{ entry.title }}</h1>

	<div class="grid md:grid-cols-2 gap-20">

<div>
{% if entry.volume | length %}
        <p class="mb-10 uppercase">Volume {{ entry.volume }}, Number {{ entry.number }}</p>
{% endif %}

{% if entry.textMarkdown | length %}
<div class="mb-10">

	<p class="mb-0 uppercase">Notes:</p> {{ entry.textMarkdown }}
    </div>
{% endif %}

{% set myAsset = entry.newsletterPDF.one() %}
{% if myAsset %}
<a href="{{ myAsset.url }}" class=" bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 block py-2 px-4 rounded inline-flex items-center" target="_new">

<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
  <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
</svg>
  <span>View/Download</span>
  </a>


{% endif %}

</div>
<div>

	{% if entry.newsletterPDF | length %}

<a href="{{ myAsset.url }}" target="_blank">

{% set image = entry.pdfImage.one %}
{% if image|length %}
    <img src="{{ image.url }}" alt="generic PDF download link">
{% else %}
<img src="/assets/newsletters/vector-pdf.png">
{% endif %}

</a>


{% endif %}

</div>
</div>






{% include '_partials/_share.twig' %}
</section>
{# PurgeCSS: text-base #}

	{% include '_partials/_footer.twig' %}

</body>
</html>
