{% include '_partials/_head.twig' %}

<body class="ltr">
	{% include '_partials/_header.twig' %}
         {% if entry.featuredImage | length %}

	    {% set optimizedImages = entry.featuredImage.one().optimizedImages %}   
        <div style="
        background-image:url('{{ optimizedImages.src() }}');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width:100%;
        height:100%;
        "
     
    >


	{% endif %}
<div class=" bg-opacity-50 bg-black px-14" style="background:rgba(0,0,0,0.5);">
    <h1  class="pt-40  md:pt-60 text-white text-4xl md:text-5xl text-center mt-0 font-semibold">{{ entry.title }}</h1>
	<h2 class="text-3xl md:text-4xl text-center pb-40 md:pb-60 text-white font-serif font-semibold">{{ entry.subtitle }}</h2>
	</div>
    </div>

<main class="mx-auto md:max-w-5xl lg:max-w-7xl">


	<section class="py-10 mx-auto  grid grid-cols-1 md:grid-cols-2">
		<article class="px-4 mt-4">
            <h1>Support Landis</h1>

            {% for block in entry.leftSide.all() %}
            {% switch block.type %}
        
                {% case "header" %}
                   <h2>{{ block.header }}</h2> {# Type: Plain Text #}
        
                {% case "text" %}
                    {{ block.text }} {# Type: Redactor #}
        
                {% case "image" %}

                {% for asset in block.image %}
                <img src="{{ asset.url('article640') }}" class="mb-4 rounded"  />
            {% endfor %}


               {% case "ctaButton" %}
		<div class="my-10">
			<a href="{{ block.ctaLink }}" class="btn-blue">{{ block.text }}</a>
        </div>
                {% default %}
                    ...
        
            {% endswitch %}
        {% endfor %}
        
        
  
      

  


 

        </article>

        <article class="px-4 mt-4">
            <h1>Membership</h1>

            {% for block in entry.rightSide.all() %}
            {% switch block.type %}
        
                {% case "header" %}
                   <h2>{{ block.header }}</h2> {# Type: Plain Text #}
        
                {% case "text" %}
                    {{ block.text }} {# Type: Redactor #}
        
                {% case "image" %}
                    {{ block.image }} {# Type: Assets #}
{% case "ctaButton" %}
		<div class="my-10">
			<a href="{{ block.ctaLink }}" class="btn-blue">{{ block.text }}</a>
        </div>
                {% default %}
                    ...
        
            {% endswitch %}
        {% endfor %}







        </article>
						
		
		</section>
		</main>

	{% include '_partials/_footer.twig' %}
</body></html>
