{% include '_partials/_head.twig' %}

<body class="ltr">
    {% include '_partials/_header.twig' %}

    <section class="max-w-6xl px-4 pt-10  mx-auto grid grid-cols-1 md:grid-cols-2 gap-4 min-h-screen">
        <div>
            <h2 class="mb-2 text-2xl lg:text-3xl">
                {{ entry.title }}
            </h2>

            {% if entry.date %}
                <p class="mt-2 mb-1 text-base md:text-lg text-gray-700">
                    <span class="font-semibold">Date:</span>
                    {{ entry.date | date('M j, Y') }}
                </p>
                <p class="text-base mb-1 md:text-lg text-gray-700">
                    <span class="font-semibold">Time:</span>
                    {{ entry.date | date('g:i A') }}
                </p>
            {% endif %}

            {% if entry.location %}
                <p class="text-base md:text-lg text-gray-700 mb-1">
                    <span class="font-semibold">Location:</span>
                    {{ entry.location }}
                </p>
            {% endif %}

            {% if entry.donation %}
                <p class="mb-6 text-base md:text-lg text-gray-700">
                    <span class="font-semibold">Registration:</span>
                    {{ entry.donation | nl2br }}
                </p>
            {% endif %}
            <hr class="mb-6 w-4/5 mx-auto text-black">
            {% if entry.timer %}
            <div>
               {% include '_partials/_timer2.twig' %}
            </div>
            {% endif %}
            <div class="prose md:prose-lg prose-a:no-underline">
                {{ entry.textMarkdown }}
            </div>

            {% if entry.sponsors | length %}
                <h2 class="font-bold my-6 not-prose">Sponsored By</h2>
                <div class="grid grid-cols-2 md:grid-cols-2 mt-10 mb-20 px-4 gap-6">
                    {% for image in entry.sponsors.orderBy('title').all() %}
                        <div>
                            <img src="{{ image.url }}" alt="sponsor business card image">
                        </div>
                    {% endfor %}
                </div>

                {% if entry.eventFooter | length %}
                    <div class="text-center">{{ entry.eventFooter }}</div>
                {% endif %}
            {% endif %}

            {% if entry.paypalButtonCode | length %}
                <div class="paypal">
                    <h4 class="mb-4 font-semibold text-lg">Register Now</h4>
                    {{ entry.paypalButtonCode | raw }}
                </div>
            {% endif %}
        </div>

        <div class="pt-12">
            {% if entry.featuredImage | length %}
                {% set optimizedImages = entry.featuredImage.one().optimizedImages %}
                <picture>
                    <source srcset="{{ optimizedImages.srcsetWebP() }}" sizes="100vw" type="image/webp"/>
                    <img src="{{ optimizedImages.src() }}" srcset="{{ optimizedImages.srcset() }}" sizes="100vw" class="rounded-lg"/>
                </picture>
            {% else %}
                <img src="/assets/images/_640x640_crop_center-center_82_line/calendar.jpg.webp">
            {% endif %}
        </div>
    </section>

    <div class="mx-auto max-w-7xl px-4">
        {% include '_partials/_share.twig' %}
    </div>

    <section class="my-10 max-w-7xl mx-auto clear-both">
        <div class="flex justify-between flex-wrap px-4">
            {# Set parameters for prev/next elements list #}
            {% set params = craft.entries.section('events').orderBy('date asc') %}

            {# Get the prev/next elements #}
            {% set prevEntry = entry.getPrev(params) %}
            {% set nextEntry = entry.getNext(params) %}

            {# And make sure to only output the links if the element exists #}
            {% if prevEntry %}
                <a href="{{ prevEntry.url }}" class="inline-flex items-center px-4 py-2 bg-green-600 text-white text-sm font-medium rounded-md shadow-sm hover:bg-green-700 transition-colors duration-300">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" /></svg>Previous
                </a>
            {% endif %}

            <a href="/events" class="inline-flex items-center px-4 py-2 bg-green-600 text-white text-sm font-medium rounded-md shadow-sm hover:bg-green-700 transition-colors duration-300">All Events</a>

            {% if nextEntry %}
                <a href="{{ nextEntry.url }}" class="inline-flex items-center px-4 py-2 bg-green-600 text-white text-sm font-medium rounded-md shadow-sm hover:bg-green-700 transition-colors duration-300">
                    Next<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-1" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>
                </a>
            {% endif %}
        </div>
    </section>

    {% include '_partials/_footer.twig' %}
</body>
</html>
